<div class="navbar-fade-in-element">
  <nav class="navbar-container">
    <ng-container>
      <div class="navbar-head-container">
        <div class="navbar-element-logo"></div>
      </div>
      <div class="navbar-button">
        <button
          class="navbar-element-button"
          pButton
          label="Home"
          icon="pi pi-home"
          routerLink=""
          style="font-size: 25px"
        ></button>
        <div class="navbar-button">
          <button
            pButton
            class="navbar-element-button"
            icon="pi pi-chart-line"
            label="Leaderboard"
            routerLink="/leaderboard"
          ></button>
        </div>
        <h3>Reports</h3>
        <div class="button-container">
          <div class="navbar-button">
            <button
              pButton
              class="navbar-element-button"
              icon="pi pi-briefcase"
              label="My company"
              routerLink="/companyPage"
            ></button>
          </div>
          <div class="nevbar-button">
            <button
              pButton
              class="navbar-element-button"
              icon="pi pi-chart-line"
              label="Stocks"
              routerLink="/stocks"
            ></button>
          </div>
          <div class="navbar-button">
            <button
              pButton
              class="navbar-element-button"
              icon="pi pi-home"
              label="Factories"
              routerLink="/factoryPage"
            ></button>
          </div>
          <div class="navbar-button">
            <button
              pButton
              class="navbar-element-button"
              icon="pi pi-shopping-cart"
              label="Sales report"
            ></button>
          </div>
          <div class="navbar-button">
            <button
              pButton
              class="navbar-element-button"
              icon="pi pi-chart-line"
              label="Financial report"
              routerLink="/financialReportPage"
            ></button>
          </div>
        </div>
        <div class="navbar-element">
          <h3>New Task</h3>
          <div class="navbar-button">
            <button
              pButton
              class="navbar-element-button"
              icon="pi pi-chart-bar"
              label="Production"
            ></button>
          </div>
          <div class="navbar-button">
            <button
              pButton
              class="navbar-element-button"
              icon="pi pi-building"
              label="Financial"
            ></button>
          </div>
        </div>
        <div class="navbar-element">
          <h3>Repeating Task</h3>
          <div class="navbar-button">
            <button
              pButton
              class="navbar-element-button"
              icon="pi pi-shopping-cart"
              label="Bank"
              routerLink="/bank"
            ></button>
          </div>
          <div class="navbar-button">
            <button
              pButton
              class="navbar-element-button"
              icon="pi pi-bolt"
              label="Research & Developement"
              routerLink="/resanddev"
            ></button>
          </div>
          <div class="navbar-button">
            <button
              pButton
              class="navbar-element-button"
              icon="pi pi-book"
              label="Contracts"
            ></button>
          </div>
          <div class="navbar-button">
            <button
              pButton
              class="navbar-element-button"
              icon="pi pi-dollar"
              label="Budgeting"
            ></button>
          </div>
        </div>
        <div class="navbar-element">
          <h3>Exercises</h3>
          <div class="navbar-button">
            <button
              pButton
              class="navbar-element-button"
              icon="pi pi-file-edit"
              label="Understand your basic finances"
            ></button>
          </div>
        </div>
      </div>
    </ng-container>
  </nav>
</div>
