.navbar-container {
  width: 35vh;
  height: 100vh;
  background-color: lightgray;
  margin-top: 0px;
  padding-left: 10px;
}

.ng-container {
  width: 38vh;
  height: 100vh;
  background-color: lightgray;
}

.navbar-element-button {
  margin-top: 5px;
  width: 32vh;
  margin-left: 10px;
  background-color: transparent;
  color: black;
  font-style: italic;
  text-align: left;
  border: transparent;
}

.user-button {
  margin-top: 10px;
  width: 15vh;
  margin-left: 10px;
  background-color: transparent;
  color: black;
  display: flex;
  justify-content: end;
  border: transparent;
}
.navbar-element-button:hover,
.user-button:hover {
  background-color: lightblue;
}

.navbar-element-logo {
  width: 200px;
  height: 150px;
  background-image: url("../../../assets/logo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
