.card {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  //   margin: 20px;
  transition: transform 0.3s;
  width: 5vw;
  height: 2.5vh;
  display: flex;
  align-items: center;
}

.general-info {
  display: flex;
  justify-content: space-between;
  width: 12vw;
}

.main {
  display: flex;
  flex-direction: column;
}

.product-img {
  width: 2.5vw;
  height: 2.5vw;
}

.product-info {
  display: flex;
  align-items: center;
}

.price-infos {
  display: flex;
  justify-content: space-between;
  width: 20vw;
  margin-left: 2.5vw;
}

.activity-info {
  width: 15vw;
}

.activity-info-input {
  width: 10vw;
}

.custom-card {
  width: 20vw;
  margin-bottom: 10vh;
  border: 1px solid gray;
}

.custom-card2 {
  width: 30vw;
  margin-bottom: 7.5vh;
  border: 1px solid gray;
}

.container-graph {
  display: flex;
  justify-content: space-between;
  width: 45vw;
  align-items: center;
}
.chart-container {
}
