<main>
  <div
    style="
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      padding-bottom: 20px;
    "
  >
    <div class="company_budget">Company Budget: {{ compbudget }}</div>
    <div class="company_budget">Money in stocks: {{ money }}</div>
    <button
      pButton
      icon="pi pi-refresh"
      style="gap: 10px; margin: 10px; margin-top: 25px"
      (click)="viewLiveStocks()"
    >
      View Live stocks
    </button>
    <!-- <button (click)="viewLiveStocks()">View Live stocks</button> -->
  </div>
  <div class="stock_container">
    <div *ngFor="let stock of stocks; let i = index" class="stocks">
      <div class="company-name">
        <strong>{{ stock.company_name }}</strong>
      </div>
      <div>Number of stocks of the company: {{ stock.stock_number }}</div>
      <div></div>
      <!-- <div>Price of one stock: {{ stock.stock_price }}</div> -->
      <div class="chart_div">
        <canvasjs-chart
          class="live-line-chart"
          [options]="chartOptions[i]"
          (chartInstance)="getChartInstance($event, i)"
        ></canvasjs-chart>
        <!-- <div>Stock price history</div>
      <div style="display: flex; flex-wrap: wrap">
        {{ data[i] }}
      </div> -->
      </div>

      <!-- <canvasjs-chart [options]="chartOptions"></canvasjs-chart> -->
      <div style="display: flex; flex-direction: row">
        <button
          pButton
          icon="pi pi-shopping-cart"
          style="gap: 10px; margin: 10px"
          (click)="buyStock(stock, i)"
        >
          Buy
        </button>

        <button
          pButton
          icon="pi pi-money-bill"
          style="gap: 10px; margin: 10px"
          (click)="sellStock(stock, i)"
          *ngIf="stockQuantity[i] != 0; disabled"
        >
          Sell
        </button>

        <button class="counter-button" disabled pButton>
          {{ stockQuantity[i] }}
        </button>
      </div>
    </div>
  </div>
</main>
